.page{
	border: 7px solid black ;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	width :30%;
	color: #0b0d74;


}

h2 {
	text-align: center;
	color: salmon;
}